.pricing-card {
    height: '100%';
    border-radius: '16px';
    text-align: 'center';
    display: 'flex';
    flex-direction: 'column';

    &.premium-border {
        border: 2px solid var(--color-brand-500) !important;
    }
}