.Home {
    .glow-bg {
        position: absolute;
        top: -100px;
        right: -100px;
        width: 400px;
        height: 400px;
        background: radial-gradient(circle, var(--glow-1) 0%, var(--glow-2) 100%);
        filter: blur(80px);
        z-index: -1;
    }
}